:root {
--color-lightest: #f9fdfe;
--color-gray-light: #cdcfcf;
--color-gray-medium: #686a69;
--color-gray-dark: #414643;
--color-darkest: #2a2f2c;
--color-red: #c75c49;
}

*,
::before,
::after {
margin: 0;
box-sizing: border-box;
}

/* Heydon Pickering’s lobotomized owl. Details: https://bit.ly/1H7MXUD */
* + * {
margin-top: 1rem;
}

/* Set up fonts, colors and all that jazz. */
body {
background: var(--color-lightest);
color: var(--color-gray-medium);
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 18px;
line-height: 1.45;
}

/* Headings use a different font because they’re hipsters. */
h1,
h2 {
color: var(--color-darkest);
font-size: 110%;
line-height: 1.1;
}

h1 {
font-size: 125%;
}

/* Set up general layout rules for outer containers. */
.page-section,
.results {
width: 90vw;
max-width: 780px;
margin: 2vh auto;
}

p {
margin-top: 0.5rem;
font-size: 87.5%;
}

.results pre {
margin-top: 1rem;
padding: 0.5rem 1rem;
background: var(--color-lightest);
border: 1px solid var(--color-gray-light);
overflow-x: scroll;
}

.page-section form {
position: relative;
display: block;
margin: 0;
padding: 1rem 0 2rem;
border-top: 1px solid var(--color-gray-light);
border-bottom: 1px solid var(--color-gray-light);
overflow: hidden;
}

.input-group {
margin-top: 0.25rem;
padding: 0.5rem 1rem;
}

.page-section label {
display: inline-block;
color: var(--color-gray-dark);
font-family: Lato, sans-serif;
font-size: 90%;
line-height: 1.125;
margin-right: 0.5em;
}

.page-section p.label {
    float: left;
    margin-right: 0.25rem;
}

.page-section label.error,
.page-section p.error {
color: var(--color-red);
}

.group-label {
display: inline-block;
margin-right: 1rem;
font-size: 90%;
}

.page-section label.inline {
display: inline-block;
margin-left: 0.25rem;
}

.page-section input,
.page-section select,
.page-section textarea{
display: block;
margin-top: 0.25rem;
padding: 0.5rem 0.75rem;
border: 1px solid var(--color-gray-light);
width: 100%;
font-family: "Open Sans", sans-serif;
font-size: 1rem;
transition: 150ms border-color linear;
}

.page-section input[type=checkbox],
.page-section input[type=radio] {
display: inline-block;
width: auto;
}

.page-section input[type=checkbox]:not(:first-of-type),
.page-section input[type=radio]:not(:first-of-type) {
margin-left: 1rem;
}

.page-section input:focus,
.page-section input:active {
border-color: var(--color-gray-medium);
}

.page-section button {
display: block;
margin: 0.5rem 1rem 0;
padding: 0 1rem 0.125rem;
background-color: var(--color-gray-medium);
border: 0;
color: var(--color-lightest);
font-family: lato, sans-serif;
font-size: 100%;
letter-spacing: 0.05em;
line-height: 1.5;
transition: 150ms all linear;
}

.page-section button:hover,
.page-section button:active,
.page-section button:focus {
background: var(--color-darkest);
cursor: pointer;
}

button#collapsible-button {
font-size: 15px;
width: auto;
margin:0;
display: inline-flex;
float: right;
}

div.non-branding-section-header {
    vertical-align: middle;
}

div.non-branding-section-header h2 {
    display: inline-block;
}
